* {
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body{
   background:whitesmoke ;
   
}

/*nav bar*/

.nav-bar{
    width: 100%;
    background-image:url(/fotos/Background-PI.jpg);
    background-position-y: -350px;
    height: 514px;
    background-size: cover;
    
}

.caja-mayor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding-top: 20px ;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inicio {
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.inicio h2{
    margin-left: 5px;
    margin-top: 9px;
}

.nav-bar-elements{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    background-color: rgba(202, 195, 184, 0.3);
    padding: 8px 5px;
    border-radius: 12px;
}


/*items pequeños*/
.nav-bar .nav-bar-elements a {
    text-decoration: none;
    color: white;
    font-family: roboto, sans-serif;
    font-size: 20px;

}

.nav-bar-item-a{
    
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}

/*items grandes*/
.nav-bar-item-b{
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}