* {
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body{
   background: whitesmoke ;
   
}

 /*hero especial con el overlay*/
 #hero {
  background-image: url("/fotos/Background-PI.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}
/*overlay*/
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.29); /* Ajusta el nivel de opacidad según tus necesidades */
}


.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
}

/*empezamos a tocar todo el nav*/


.caja-mayor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1400px;
}

/*caja donde esta el h2 y el logo de la casita*/

.inicio {
  text-decoration: none;
  color: white;
}
.inicio h2{
  font-size: 45px;
}
/*la caja de los "a" del nav*/

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    background-color: rgba(202, 195, 184, 0.3);
    padding: 8px 5px;
    border-radius: 12px;
    
}

/*los a del nav*/

.links a{
    margin-left: 10px ;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}


/*momento titulo y buscador*/

#titulo-buscador{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:200px ;
}

/*Encuentra tu hogar*/
.titulo{
    font-size: 64px;
    color: white;
}

/*buscador y inputs*/
.buscador{
    margin-top: 90px;
    min-width: 300px;
}

/*select de alquilar o comprar*/
.select{
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
}

/*buscador lupa*/
.lupa{
    margin-left: 40px;
    border-radius: 20px;
    background: black;
    color: white;
    font-size: 18px;
}





/*section nuevo que esta debajo de la fotito*/
#listados{
  max-width: 1700px;
  height: 300px;
  display: flex;
  margin: 20px auto 0 auto;
  height: 25vh;
}
/*caja mayor que contiene desde el h3 hasta las cajitas*/
.caja-total{
  width: 1300px;
  margin: 0 auto;
}
/*caja del titulo donde dice listados de propiedades """"*/
.titulo-listados{
  margin-top: 20px;
  font-size: 25px;
  height: 29px;
  width: 596px;
  margin-left: 2px;
}

/*caja donde estan los recuadros negros*/
.caja-caracteristicas{
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

/*cajas donde estan los h4 y el boton*/
.caracteristicas{
  width: 100%;
  background-color: black;
  height: 100%;
  border-radius: 14px;
  color: white;
  align-items: center;
  display: flex;
}

/*h4 especial para las cajas negras*/
.h4-especial{
  margin: 0 5px;
  max-width: 240px;
  font-size: 18px;
  font-weight: 50;
}


/*caja de propiedades similares*/

#propiedades{
  max-width: 1700px;
  height: 414px;
  display: flex;
  margin: 0 auto 120px auto;
  justify-content: center;
}

/*caja total de titulo + imagenes y descripcion*/

#todo{
  width: 1300px;
  margin: 0 auto;
  
}


.caja-slider{
  width: 100%;
  height: 414px;
  margin-top: 20px;
  
}