*{
    Margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

/*nav bar logo*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;

  }

  /*empezamos a tocar todo el nav*/


.caja-mayor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1400px;
}

/*caja donde esta el h2 y el logo de la casita*/

.inicio {
  text-decoration: none;
}

.inicio h2{
  font-size: 45px;
  color: black;
}

.zona-logo {
    display: flex;
    flex-direction: ;
    width: 100%;
}
              
/*la caja de los "a" del nav*/

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    background-color: rgba(202, 195, 184, 0.3);
    padding: 8px 5px;
    border-radius: 12px;
    
}

/*los a del nav*/

.links a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    
}

/*body*/

section {
    margin: 20px 0px;
}

/* galeria de fotos*/

.galeria-fotos{
    margin-left: 175px;
    margin-top: 150px;
    display: flex;
    height: 700px;
}

.foto-car{
    height: 100%;
}

.fotos{
    max-width: 1400px;
    max-height: 700px;
    display: grid;
    grid-template-columns: auto auto;
}


/*columnas*/

.columna-derecha{
    margin-left: 175px;
    margin-top: 150px;
    width: 750px;
}



/*fonts*/

h3{
font-size: 25px;
color: black;
margin-top: 5px;
margin-bottom: 15px;
}

.precio {
    color: #B25600;
}

h4{
font-size: 20px;
color: black;
margin-top: 5px;
margin-bottom: 10px;;
}

.info-depto{
    color: grey;
    font-family: "arial", sans-serif;
}

h5{
    font-size: 18px;
    margin-top: 10px;
}

p{ 
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}