* {
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body{
   background: rgb(241, 241, 241) ;
   
}




.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
}

/*empezamos a tocar todo el nav*/


.caja-mayor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1400px;
  background-color: rgba(239, 239, 239,0.1);
  border-radius: 20px;
}

/*caja donde esta el h2 y el logo de la casita*/

.inicio {
  text-decoration: none;
  color: white;
}
.inicio h2{
  font-size: 45px;
}
/*la caja de los "a" del nav*/

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    background-color: rgba(202, 195, 184, 0.3);
    padding: 8px 5px;
    border-radius: 12px;
    
}

/*los a del nav*/

.links a{
    margin-left: 10px ;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}


/*todo la parte debajo del nav*/



/*section de comparacion*/
#comparacion-fotos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}


/*titulo de comparacion*/
#comparacion-fotos .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*caja mayor donde va a estar la */
.fotos-slide{
    display: flex;
    flex-direction: row;
    max-width: 800px;
}

/*slide de cajas*/
.slide-cajas{
    display: flex;
    margin: 0 auto;
}

.cajas img{
    padding: 20px;
    width: 400px;
    border-radius: 20px;
}

/*los ver mas que estan debajo de las fotos*/
.cajas #link{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/*lado donde estan los datos de la casa*/
#caracteristicas{
    width: 100%;
    height: 60vh;
    margin-top: 50px;
}


/*grid donde donde estan las caracteristicas*/
.grid-container {
    display: grid;
    grid-template-columns: 300px 420px 400px;
    padding: 10px;
    margin: 0 200px;
}

.grid-item {
    background-color:  rgb(241, 241, 241);
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    padding: 2px;
    font-size: 26px;
    text-align: center;
    
}

/*las lineas donde estan los grid*/
.s{
    background-color: rgba(0,0,0,0.5);
    display: flex;
}

/*borde del principio*/
.er{
    border-radius:10px 10px 0 0;
}

.ultimo{
    border-radius: 0 0 10px 10px;
}



/*section donde dice la info de la zona*/
#info-zona{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1425px;
    margin: 0 auto;
}

/*titulo "info de la zona"*/
.titulo-especial{
    font-weight: 100;
    margin-bottom: 20px;
    
}

/*caja donde estan los mapas*/
.caja-todo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    margin-bottom: 50px;
}

/*caja donde estan los checks*/
.checks{
    justify-content: center;
    display: flex;
    gap: 10px;
}

/*cada boton del check*/

.check{
    
}



/*mapas*/
.check-mapa{
    padding: 10px;
    border: 1px solid black;
}

/*fotos */
#id-foto{
    border: 1px solid black;
    height: 700px;
    width: 200px;
}


